* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #000;
  margin: 0;
  padding: 0; }

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  background: #070832;
  border-radius: 50%;
  box-shadow: 0 3px 7px rgba(255, 255, 255, 0.3);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.sway-wrapper,
.floater-wrapper {
  position: absolute;
  -webkit-transition: all 2000ms ease-in-out;
  -moz-transition: all 2000ms ease-in-out;
  transition: all 2000ms ease-in-out;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.sway-wrapper {
  z-index: 1;
  top: 50%;
  left: 50%; }

.floater-wrapper {
  position: absolute;
  opacity: 1; }
  .floater-wrapper.fade-out {
    opacity: 0;
    filter: blur(3px); }
  .floater-wrapper.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }

.floater {
  margin-top: -73.5px;
  margin-left: -78.75px;
  background: #0f126d;
  filter: blur(1px);
  transform: rotate(-120deg) skewX(-30deg) scale(1, 0.866); }
  .floater:before, .floater:after {
    content: " ";
    position: absolute;
    background-color: inherit; }
  .floater, .floater:before, .floater:after {
    width: 105px;
    height: 105px;
    border-top-right-radius: 10%; }
  .floater:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%); }
  .floater:after {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%); }

.text {
  position: absolute;
  width: 105px;
  height: 105px;
  top: -52.5px;
  left: -52.5px;
  text-transform: uppercase;
  color: #5e63e9;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.4px;
  font-family: helvetica;
  text-shadow: 0 -1px 2px black, 0 1px 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  filter: blur(0.6px);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.test-text-el {
  position: absolute;
  top: -999999px;
  width: 105px;
  text-transform: uppercase;
  color: #5e63e9;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.4px;
  font-family: helvetica;
  text-shadow: 0 -1px 2px black, 0 1px 1px rgba(255, 255, 255, 0.3);
  text-align: center; }

.window-gradient {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: radial-gradient(  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); }

#console {
  position: absolute;
  top: 50px;
  left: 10px;
  font-family: monaco; }
  #console a {
    color: #aaa;
    text-decoration: none; }
    #console a:hover {
      color: #888; }

input {
  background-color: black; 
  border: black;
}

input:focus {
  outline: none;
}
