$window-size: 300px;
$window-color: lighten(#050625, 3%);

$triangle-size: $window-size * 0.35;
$triangle-color: lighten($window-color, 13%);

@import "bourbon/bourbon";

* {
  @include box-sizing(border-box);
}

body {
  background: #000;
  margin: 0;
  padding: 0;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: $window-size * -0.5;
  margin-left: $window-size * -0.5;
  width: $window-size;
  height: $window-size;

  background: $window-color;
  border-radius: 50%;
  box-shadow: 0 3px 7px transparentize(#fff, 0.7);
  @include transform(translateZ(0));
}

.sway-wrapper,
.floater-wrapper {
  position: absolute;
  @include transition(all 2000ms ease-in-out);
  @include transform(translateZ(0));
}

.sway-wrapper {
  z-index: 1;
  top: 50%;
  left: 50%;
}

.floater-wrapper {
  position: absolute;
  opacity: 1;

  &.fade-out {
    opacity: 0;
    filter: blur(3px);
  }

  &.no-transition {
    @include transition(none);
  }
}

.floater {
  margin-top: $triangle-size * -0.7;
  margin-left: $triangle-size * -0.75;
  background: $triangle-color;
  filter: blur(1px);

  &:before,
  &:after {
    content: " ";
    position: absolute;
    background-color: inherit;
  }

  &,
  &:before,
  &:after {
    width: $triangle-size;
    height: $triangle-size;
    border-top-right-radius: 10%;
  }

	transform: rotate(-120deg) skewX(-30deg) scale(1,.866);

  &:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }

  &:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
}

$text-size: $triangle-size;
@mixin font-settings {
  text-transform: uppercase;
  color: lighten($triangle-color, 40%);
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.4px;
  font-family: helvetica;
  text-shadow: 0 -1px 2px black, 0 1px 1px transparentize(#fff, 0.7);
  text-align: center;
}

.text {
  position: absolute;
  width: $text-size;
  height: $text-size;
  top: $text-size * -0.5;
  left: $text-size * -0.5;

  @include font-settings;
  filter: blur(0.6px);
  @include transform(translateZ(0));
}

// a hidden div to see how tall your new text will be
.test-text-el {
  position: absolute;
  top: -999999px;
  width: $text-size;
  @include font-settings;
}

.window-gradient {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  @include radial-gradient(
    transparentize(black, 1),
    transparentize(black, 0.3)
  );
}

#console {
  position: absolute;
  top: 50px;
  left: 10px;
  font-family: monaco;

  a {
    color: #aaa;
    text-decoration: none;

    &:hover {
      color: #888;
    }
  }
}
